{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<h1>Recent Friend Messages</h1>
{% for friend_message in friend_messages %}
<p><a href="/thread/{{friend_message[0]}}">{{ friend_message[1] }}</a></p>
{% endfor %}

<h1>Recent Block Messages</h1>
{% for block_message in block_messages %}
<p><a href="/thread/{{block_message[0]}}">{{ block_message[1] }}</a></p>
{% endfor %}

<h1>Recent Neighbor Messages</h1>
{% for neighbor_message in neighbor_messages %}
<p><a href="/thread/{{neighbor_message[0]}}">{{ neighbor_message[1] }}</a></p>
{% endfor %}

<h1>Recent Neighborhood Messages</h1>
{% for neighborhood_message in neighborhood_messages %}
<p><a href="/thread/{{neighborhood_message[0]}}">{{ neighborhood_message[1] }}</a></p>
{% endfor %}


{% endblock %}
